<!doctype html>
<html lang="en">

    <head>
        <title>Google maps</title>
        <script src="https://code.jquery.com/jquery-1.8.2.min.js"></script>
        <script type="text/javascript" src="https://maps.google.com/maps/api/js?v=3&sensor=false&language=en"></script>


    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map_canvas {
        height: 100%;
      }
    </style>

    </head>

{#    <body style="margin: 0 !important;">#}
    <body>
{#        <div id="map_canvas" style="height: 100vh;"></div>#}
        <div id="map_canvas"></div>


        <script type="text/javascript">

            var currentPositionMarker,
                mapCenter = new google.maps.LatLng({{ lat }}, {{ lon }}),
                map;

            function initializeMap()
            {
                map = new google.maps.Map(document.getElementById('map_canvas'), {
                   zoom: 17,
                   center: mapCenter,
                   mapTypeId: google.maps.MapTypeId.ROADMAP
                 });

                var marker = new google.maps.Marker({
                    position: {lat: {{ lat }}, lng: {{ lon }}},
                    map: map,
                    title: 'Hello World!'
                });

                {% for POI in POIs %}
                    var marker = new google.maps.Marker({
                        position: {lat: {{ POI.lat }}, lng: {{ POI.lon }}},
                        map: map,
                        title: 'Hello World!'
                    });
                {% endfor %}

            }

            function locError(error) {
                // the current position could not be located
                alert("The current position could not be found!");
            }

            function setCurrentPosition(pos) {
                currentPositionMarker = new google.maps.Marker({
                    map: map,
                    position: new google.maps.LatLng(
                        pos.coords.latitude,
                        pos.coords.longitude
                    ),
                    title: "Current Position"
                });
                map.panTo(new google.maps.LatLng(
                        pos.coords.latitude,
                        pos.coords.longitude
                    ));
            }

            function displayAndWatch(position) {
                // set current position
{#                setCurrentPosition(position);#}
                // watch position
{#                watchCurrentPosition();#}
            }

            function watchCurrentPosition() {
                var positionTimer = navigator.geolocation.watchPosition(
                    function (position) {
                        setMarkerPosition(
                            currentPositionMarker,
                            position
                        );
                    });
            }

            function setMarkerPosition(marker, position) {
                marker.setPosition(
                    new google.maps.LatLng(
                        position.coords.latitude,
                        position.coords.longitude)
                );
            }

            function initLocationProcedure() {
                initializeMap();
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(displayAndWatch, locError);
                } else {
                    alert("Your browser does not support the Geolocation API");
                }
            }

            $(document).ready(function() {
                initLocationProcedure();
            });

        </script>
    </body>

</html>
