{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Toscanasegreta</title>

    <!-- Bootstrap Core CSS -->
    <script src="{% static prefix %}components/jquery/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static prefix %}components/theme/css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static prefix %}components/theme/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{% static prefix %}components/theme/css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static prefix %}components/theme/css/creative.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Toscanasegreta.com</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>{% ifnotequal request.LANGUAGE_CODE 'en' %}<a href="{% url 'change_to_en' %}"><img alt="" src="{% static prefix %}frontoffice/img/flags/uk.png"></a>{% endifnotequal %}</li>
                    <li>{% ifnotequal request.LANGUAGE_CODE 'it' %}<a href="{% url 'change_to_it' %}"><img alt="" src="{% static prefix %}frontoffice/img/flags/it.png"></a>{% endifnotequal %}</li>
                    <li>{% ifnotequal request.LANGUAGE_CODE 'es' %}<a href="{% url 'change_to_es' %}"><img alt="" src="{% static prefix %}frontoffice/img/flags/es.png"></a>{% endifnotequal %}</li>
                    <li>{% ifnotequal request.LANGUAGE_CODE 'fr' %}<a href="{% url 'change_to_fr' %}"><img alt="" src="{% static prefix %}frontoffice/img/flags/fr.png"></a>{% endifnotequal %}</li>
                    <li>{% ifnotequal request.LANGUAGE_CODE 'de' %}<a href="{% url 'change_to_de' %}"><img alt="" src="{% static prefix %}frontoffice/img/flags/de.png"></a>{% endifnotequal %}</li>
                    <li><a class="page-scroll" href="#about">{% trans "About us" %}</a></li>
                    <li><a class="page-scroll" href="#services">{% trans "Services" %}</a></li>
                    <li><a class="page-scroll" href="#contact">{% trans "Contacts" %}</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 style="font-family: 'Dancing Script', cursive; text-transform: capitalize;">Toscanasegreta</h1>
                <hr>
                <p>{% trans "It's all about the journey, not the destination" %}</p>
{#                <a style="margin: 5px;" href="{% static prefix %}components/Toscana_segreta.apk" class="btn btn-primary btn-xl page-scroll"><i class="fa fa-android"></i> Scarica l'app</a>#}
                <a style="margin: 5px;" href="{% url 'frontoffice_map' %}" class="btn btn-primary btn-xl page-scroll"><i class="fa fa-search"></i> {% trans "Find close to you" %}</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">{% trans "We'll let you discover what you do not know you want to see!" %}</h2>
                    <hr class="light">
                    <p class="text-faded">{% trans "The new way of thinking about public mobility in cities. Toscanasegreta will unveal the hidden secrets of Tuscany." %}</p>
                    <a href="{% url 'frontoffice_map' %}" class="btn btn-default btn-xl">{% trans "Start now" %}!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{% trans "Our services" %}</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-map-marker wow bounceIn text-primary"></i>
                        <h3>{% trans "Point of interest" %}</h3>
                        <p class="text-muted">{% trans "We set the turnout to the points of interest at peak" %}</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>{% trans "Hidden nuggets" %}</h3>
                        <p class="text-muted">{% trans "We valorize the territory as no one before us" %}</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-camera-retro wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>{% trans "Unconventional turism" %}</h3>
                        <p class="text-muted">{% trans "Discover with us the secrets of Tuscany" %}</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-cogs wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>{% trans "Data everywhere" %}</h3>
                        <p class="text-muted">{% trans "We offer all the data for free on public transport via API" %}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{#    <section class="no-padding" id="portfolio">#}
{#        <div class="container-fluid">#}
{#            <div class="row no-gutter">#}
{#                <div class="col-lg-4 col-sm-6">#}
{#                    <a href="#" class="portfolio-box">#}
{#                        <img src="{% static prefix %}components/theme/img/portfolio/1.jpg" class="img-responsive" alt="">#}
{#                        <div class="portfolio-box-caption">#}
{#                            <div class="portfolio-box-caption-content">#}
{#                                <div class="project-category text-faded">#}
{#                                    Category#}
{#                                </div>#}
{#                                <div class="project-name">#}
{#                                    Project Name#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </a>#}
{#                </div>#}
{#                <div class="col-lg-4 col-sm-6">#}
{#                    <a href="#" class="portfolio-box">#}
{#                        <img src="{% static prefix %}components/theme/img/portfolio/2.jpg" class="img-responsive" alt="">#}
{#                        <div class="portfolio-box-caption">#}
{#                            <div class="portfolio-box-caption-content">#}
{#                                <div class="project-category text-faded">#}
{#                                    Category#}
{#                                </div>#}
{#                                <div class="project-name">#}
{#                                    Project Name#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </a>#}
{#                </div>#}
{#                <div class="col-lg-4 col-sm-6">#}
{#                    <a href="#" class="portfolio-box">#}
{#                        <img src="{% static prefix %}components/theme/img/portfolio/3.jpg" class="img-responsive" alt="">#}
{#                        <div class="portfolio-box-caption">#}
{#                            <div class="portfolio-box-caption-content">#}
{#                                <div class="project-category text-faded">#}
{#                                    Category#}
{#                                </div>#}
{#                                <div class="project-name">#}
{#                                    Project Name#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </a>#}
{#                </div>#}
{#                <div class="col-lg-4 col-sm-6">#}
{#                    <a href="#" class="portfolio-box">#}
{#                        <img src="{% static prefix %}components/theme/img/portfolio/4.jpg" class="img-responsive" alt="">#}
{#                        <div class="portfolio-box-caption">#}
{#                            <div class="portfolio-box-caption-content">#}
{#                                <div class="project-category text-faded">#}
{#                                    Category#}
{#                                </div>#}
{#                                <div class="project-name">#}
{#                                    Project Name#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </a>#}
{#                </div>#}
{#                <div class="col-lg-4 col-sm-6">#}
{#                    <a href="#" class="portfolio-box">#}
{#                        <img src="{% static prefix %}components/theme/img/portfolio/5.jpg" class="img-responsive" alt="">#}
{#                        <div class="portfolio-box-caption">#}
{#                            <div class="portfolio-box-caption-content">#}
{#                                <div class="project-category text-faded">#}
{#                                    Category#}
{#                                </div>#}
{#                                <div class="project-name">#}
{#                                    Project Name#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </a>#}
{#                </div>#}
{#                <div class="col-lg-4 col-sm-6">#}
{#                    <a href="#" class="portfolio-box">#}
{#                        <img src="{% static prefix %}components/theme/img/portfolio/6.jpg" class="img-responsive" alt="">#}
{#                        <div class="portfolio-box-caption">#}
{#                            <div class="portfolio-box-caption-content">#}
{#                                <div class="project-category text-faded">#}
{#                                    Category#}
{#                                </div>#}
{#                                <div class="project-name">#}
{#                                    Project Name#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>{% trans "New Android app is ready" %}!</h2>
                <a href="{% static prefix %}components/Toscana_segreta.apk" class="btn btn-default btn-xl wow tada"><i class="fa fa-android"></i> {% trans "Download now" %}!</a>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">{% trans "Let's Get In Touch" %}!</h2>
                    <hr class="primary">
                    <p>
                        {% trans "Are you interested in wonderful landscapes and challenging the status quo and?" %}
                        <br>{% trans "Join our awesome crew" %}!
                    </p>
                </div>
{#                <div class="col-lg-4 col-lg-offset-2 text-center">#}
{#                    <i class="fa fa-phone fa-3x wow bounceIn"></i>#}
{#                    <p>123-456-6789</p>#}
{#                </div>#}
                <div class="col-lg-4 col-lg-offset-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:info@toscanasegreta.com">info@toscanasegreta.com</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="{% static prefix %}components/theme/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static prefix %}components/theme/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static prefix %}components/theme/js/jquery.easing.min.js"></script>
    <script src="{% static prefix %}components/theme/js/jquery.fittext.js"></script>
    <script src="{% static prefix %}components/theme/js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static prefix %}components/theme/js/creative.js"></script>

</body>

</html>