{#{% extends "base_frontoffice.html" %}#}
{#{% load staticfiles %}#}
{#{% load i18n %}#}
{##}
{##}
{#{% block pagecontent %}#}
{##}
{#    <div class="content">#}
{#        <h2>{% trans "Frontoffice Homepage" %}</h2>#}
{##}
{#        <ul>#}
{#            {% if user.is_authenticated %}#}
{#                <li class="active"><a>{% trans "Benvenuto" %} {{ user.get_username }}</a></li>#}
{#                <li><a href="{% url 'password_change' %}">{% trans "Cambio Password" %}</a></li>#}
{#                <li><a href="{% url 'logout' %}">{% trans "Logout" %}</a></li>#}
{#            {% else %}#}
{#                <li class="active"><a>{% trans "Utente non autenticato" %}</a></li>#}
{#                <li><a href="{% url 'login' %}">{% trans "Login" %}</a></li>#}
{#                <li><a href="{% url 'signup' %}">{% trans "Signup" %}</a></li>#}
{#            {% endif %}#}
{#        </ul>#}
{##}
{#    </div>#}
{##}
{#    <p id="demo"></p>#}
{##}
{#    {% if result %}#}
{#        <a href="{% url 'find_events' lat lon buff %}"></a>#}
{#    {% endif %}#}
{##}
{#    {{ result }}#}
{##}
{##}
{#    <script>#}
{##}
{#        window.onload = function () {#}
{#            getLocation();#}
{#        };#}
{##}
{#        var x = document.getElementById("demo");#}
{##}
{#        function getLocation() {#}
{#            if (navigator.geolocation) {#}
{#                navigator.geolocation.watchPosition(showPosition);#}
{#            } else {#}
{#                x.innerHTML = "Geolocation is not supported by this browser.";#}
{#            }#}
{#        }#}
{##}
{#        function showPosition(position) {#}
{#            x.innerHTML = "Latitude: " + position.coords.latitude +#}
{#                    "<br>Longitude: " + position.coords.longitude;#}
{#        }#}
{#    </script>#}
{##}
{#{% endblock pagecontent %}#}


<!doctype html>
<html lang="en">

    <head>
        <title>Google maps</title>
        <script src="https://code.jquery.com/jquery-1.8.2.min.js"></script>
        <script type="text/javascript" src="https://maps.google.com/maps/api/js?v=3&sensor=false&language=en"></script>


    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map_canvas {
        height: 100%;
      }
    </style>

    </head>

{#    <body style="margin: 0 !important;">#}
    <body>
{#        <div id="map_canvas" style="height: 100vh;"></div>#}
        <div id="map_canvas"></div>


        <script type="text/javascript">

            var currentPositionMarker,
                mapCenter = new google.maps.LatLng(40.700683, -73.925972),
                map;

            function initializeMap()
            {
                map = new google.maps.Map(document.getElementById('map_canvas'), {
                   zoom: 17,
                   center: mapCenter,
                   mapTypeId: google.maps.MapTypeId.ROADMAP
                 });

                {% for POI in POIs %}
                    var myinfowindow = new google.maps.InfoWindow({
                        content: '{{ POI.name }}'
                    });
                    var marker = new google.maps.Marker({
                        position: {lat: {{ POI.lat }}, lng: {{ POI.lon }}},
                        map: map,
                        title: '{{ POI.name }}',
{#                        icon: myicon,#}
                        infowindow: myinfowindow
                    });
                {% endfor %}

            }

            function locError(error) {
                // the current position could not be located
                alert("The current position could not be found!");
            }

            function setCurrentPosition(pos) {
                currentPositionMarker = new google.maps.Marker({
                    map: map,
                    position: new google.maps.LatLng(
                        pos.coords.latitude,
                        pos.coords.longitude
                    ),
                    title: "Current Position"
                });
                map.panTo(new google.maps.LatLng(
                        pos.coords.latitude,
                        pos.coords.longitude
                    ));
            }

            function displayAndWatch(position) {
                // set current position
                setCurrentPosition(position);
                // watch position
                watchCurrentPosition();
            }

            function watchCurrentPosition() {
                var positionTimer = navigator.geolocation.watchPosition(
                    function (position) {
                        setMarkerPosition(
                            currentPositionMarker,
                            position
                        );
                    });
            }

            function setMarkerPosition(marker, position) {
                marker.setPosition(
                    new google.maps.LatLng(
                        position.coords.latitude,
                        position.coords.longitude)
                );
            }

            function initLocationProcedure() {
                initializeMap();
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(displayAndWatch, locError);
                } else {
                    alert("Your browser does not support the Geolocation API");
                }
            }

            $(document).ready(function() {
                initLocationProcedure();
            });

        </script>
    </body>

</html>
