{% extends "base_backoffice.html" %}
{% load staticfiles %}


{% block breadcrumbtail %}
    <li><a href="{% url 'frontoffice_home' %}">Home</a></li>
    <li><a href="{% url 'backoffice_home' %}">Backoffice</a></li>
    <li class="active">Aggiungi un POI</li>
{% endblock breadcrumbtail %}


{# MAIN SECTION #}
{% block pagecontent %}

    <div class="page-header">
        <h2>Punti di interesse</h2>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <p>Aggiungi un punto di interesse</p>
            {{ form.errors }}

            <form class="form-inline" role="form" action="{% url 'backoffice_home' %}" method="POST">
                {% csrf_token %}
                {{ form.name }}
                {{ form.lat }}
                {{ form.lon }}
                {{ form.desc }}
                <button type="submit" class="btn btn-primary">Aggiungi</button>
            </form>

        </div>

    </div>

    <table id="datatable1" cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th class="col-md-1">#</th>
                <th class="col-md-2">Name0</th>
                <th class="col-md-2">Latitude</th>
                <th class="col-md-2">Longitude</th>
                <th class="col-md-3">Description</th>
            </tr>
        </thead>
        <tbody>
        {% for poi in POIs %}
            <tr>
                <td class="col-md-1">{{ forloop.counter }}</td>
                <td class="col-md-2">{{ poi.name }}</td>
                <td class="col-md-2">{{ poi.lat }}</td>
                <td class="col-md-2">{{ poi.lon }}</td>
                <td class="col-md-3">{{ poi.desc|truncatechars:30 }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="5">Non ci sono Point of Interest.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock pagecontent %}
