{% extends "base_backoffice.html" %}
{% load staticfiles %}


{% block breadcrumbtail %}
    <li><a href="{% url 'frontoffice_home' %}">Home</a></li>
    <li><a href="{% url 'backoffice_home' %}">Backoffice</a></li>
    <li class="active">Aggiungi un POI</li>
{% endblock breadcrumbtail %}


{# MAIN SECTION #}
{% block pagecontent %}

    {% if success %}
        <div class="alert alert-block alert-success fade in">
            <button data-dismiss="alert" class="close close-sm" type="button">
                <i class="fa fa-times"></i>
            </button>
            <p>{{ success }}</p>
        </div>
    {% endif %}

    {% if error %}
        <div class="alert alert-block alert-danger fade in">
            <button data-dismiss="alert" class="close close-sm" type="button">
                <i class="fa fa-times"></i>
            </button>
            <p>{{ error }}</p>
        </div>
    {% endif %}

    <div class="page-header">
        <h2>Carica punti di interesse da file .csv</h2>
    </div>
    <p>Assicurati che il file sia in formato .csv e contenga tutte le colonne nell'ordine seguente: <i>id, est, nord, lat, lon, codicechiave, id_tipologia, tipologia, id_categoria, categoria_prevalente, denominazione, indirizzo, localita, comune, provincia, numero_sedi</i>.</p>

    <div class="panel panel-default col-sm-8">
        <div class="panel-body">

            <form class="form-horizontal" role="form" action="{% url 'backoffice_load_by_csv' %}" method="POST" enctype="multipart/form-data" >
                {% csrf_token %}
                <div class="form-group {% if import_form.file_csv.errors %}has-error{% endif %}">
                    <label for="inputPassword3" class="col-sm-2 control-label">File .csv</label>
                    <div class="col-sm-10">
                        {{ import_form.file_csv }}
                        {% if import_form.file_csv.errors %}<p class="help-block">{{ import_form.file_csv.errors.as_text }}</p>{% endif %}
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Procedi</button>
                        {% if import_form.errors %}<p class="help-block">{{ import_form.errors.as_text }}</p>{% endif %}
                    </div>
                </div>
            </form>

        </div>
    </div>


{% endblock pagecontent %}
