{% extends "base.html" %}
{% load staticfiles %}


{% block headtitle %}Geen{% endblock headtitle %}

{% block style %}
    <link href="{% static prefix %}components/fontawesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static prefix %}components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300" rel='stylesheet'>
    <link href="{% static prefix %}backoffice/css/style.css" rel="stylesheet">
    {% block extrastyle %}{% endblock extrastyle %}
{% endblock style %}

{% block bodycontent %}

    {% block header %}
        <div class="navbar navbar-fixed-top navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'frontoffice_home' %}"> TOSCANASEGRETA.COM </a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li class="active"><a>Benvenuto {{ user.get_username }}</a></li>
                            <li><a href="{% url 'password_change' %}">Cambio Password</a></li>
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                        {% else %}
                            <li class="active"><a>Utente non autenticato</a></li>
                            <li><a href="{% url 'login' %}">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    {% endblock header %}

    {% block content %}
        <div class="container" role="main">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">

                    {% block breadcrumb %}
                        <ol class="breadcrumb">
                            <li><a href="{% url 'frontoffice_home' %}">Area Riservata</a></li>
                            {% block breadcrumbtail %}
                                <li><a href="#">Level one</a></li>
                                <li class="active">Level two</li>
                            {% endblock breadcrumbtail %}
                        </ol>
                    {% endblock breadcrumb %}

                    {% block pagecontent %}{% endblock pagecontent %}

                </div>
            </div>
        </div>
    {% endblock content %}

{% endblock bodycontent %}

{% block bodyjs %}
    <script src="{% static prefix %}components/jquery/jquery.min.js"></script>
    <script src="{% static prefix %}components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="{% static prefix %}frontoffice/js/min/script.min.js"></script>
    {% block extrabodyjs %}{% endblock extrabodyjs %}
{% endblock bodyjs %}
